//post

a {
    cursor: pointer;
}

.video-container {
    position: relative;

    svg {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

.character-count {
    display: flex;
    justify-content: flex-end;

    p {
        margin: 18px;
        font-size: 13px;
        color: #9aa4bf;
    }
}

.icon-cross {
    cursor: pointer;
}

.audio-preview-container {
    position: relative;

    svg {
        position: absolute;
        right: 100px;

    }
}

.feed-content,
.invalid-feedback {
    text-align: left;
}
.feed-content{
    .attr-img{
       max-width:  100% !important;
       margin-top:10px;
       margin-bottom: 10px;
    }
}

.user-short-description-text {
    word-break: break-all;
}

.modal-close-container {
    text-align: right;
    background-color: #9aa4bf3b;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 28px;

    svg {
        margin-right: 14px
    }
}

// post modal

.dropdown-container {
    height: 25px;

    .dropdown-item {
        font-size: 15px !important;
        font-weight: 100 !important;
        padding: 0px 20px 0px 20px;
        text-overflow: ellipsis;
        border-radius: 5px !important;
        border: none !important;
    }
}

.quick-post-footer.attachment {
    border-top: 0px;
    min-height: 60px !important;
}

.quick-post-footer.checkbox {
    border-top: 0px;
    min-height: 30px !important;
    justify-content: flex-end;
}

.post-select {
    min-height: 50px;
}

.checkbox-wrap {
    margin-right: 5px;
}

.quick-post-footer-actions {
    .button {
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: center;
    }
}

.button-container {
    display: flex;
}

.custom-scroll {
    background-color: #161b28;
}

//private btn

.checkbox-wrap .checkbox-box .icon-check {
    fill: transparent;
    transition: fill 0.2s ease-in-out;
}

.checkbox-wrap input[type="checkbox"]:checked+.checkbox-box .icon-check,
.checkbox-wrap input[type="radio"]:checked+.checkbox-box .icon-check {
    fill: #ffffff;
}

.quick-post-footer.attachment {
    background-color: #161b28;
}

// datepicker & timepicker
.datepicker,
.timepicker {
    width: 48%;
    background-color: #1d2333;
    border: 1px solid #616a82;

    >.btn {
        width: 30% !important;
    }


    svg {
        fill: #616a82;
    }

    label {
        color: #fff !important;
    }
}

.quick-post-footer {
    .dropdown {

        .dropdown-item,
        .btn {
            overflow: hidden;
            word-wrap: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.private-checkbox {
    padding-top: 10px;
    height: 40px;
    color: #9aa4bf;
    padding-left: 28px;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: right;
    margin-left: 28px;

    label {
        padding-top: 7px;
    }

}


.saveToast {
    background-color: red;
    margin-top: 80px;

    .close {

        text-align: right;
        margin-left: 28px;

        label {
            padding-top: 7px;
        }

    }


}

.hashtag {
    color: #A975FF;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
}

.mention {
    color: #A975FF;
    // background-color: rgba(#A975FF, 0.1);
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
}

pre {

    background: #0d0d0d !important;
    color: #fff !important;
    font-family: "JetBrainsMono", monospace !important;
    padding: 0.75rem 1rem !important;
    border-radius: 0.5rem !important;
    text-align: left !important;
}

// vuelidate
.invalid-feedback {
    font-size: 100% !important;
}

// tooltip

.gameTooltip {
    position: absolute !important;
    left: 78px !important;
    bottom: 0px !important;
}

.category-tooltip,
.community-tooltip {

    background-color: #6c757d;
    top: 10px !important;
    height: 120px;
    padding: 0px !important;
    border-radius: 7px !important;

    .arrow {
        top: -6px !important;
    }

    .arrow::before {
        border-bottom-color: #6c757d !important;
        top: -6px !important
    }

    >div.tooltip-inner {
        .dropdown-container {
            height: 100%;
        }

        background-color: #0d0d0d00 !important;
        height: 100%;
        padding: 0;

        button:hover,
        button {
            height: 37px;
            border-radius: 0px !important;
        }



        button:not(:last-child) {
            // border-bottom: 1px solid;
        }
    }

    .off {
        display: none;
    }

}

.category-list {
    display: flex;

    button {
        font-size: 15px !important;
        font-weight: 100 !important;
        padding: 0px 20px 0px 20px;
        text-overflow: ellipsis;
        border-radius: 5px !important;
        border: 1px solid #616a82;
        width: 150px !important;
        background: none;
        display: flex;
        align-items: center;
        height: 30px;
    }


    .category-title {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.category-listing {
    display: flex;
    margin-right: 28px;

    button {
        font-size: 15px !important;
        font-weight: 100 !important;
        padding: 0px 20px 0px 20px;
        text-overflow: ellipsis;
        border-radius: 5px !important;
        border: 1px solid #616a82;

        background: none;
        display: flex;
        align-items: center;
        height: 30px;
    }

    .category-title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 100%;

        p {
            height: 100%;
            text-overflow: ellipsis;
            align-items: center;
            overflow: hidden;
            display: flex;

        }
    }
}

.selected-category {
    min-width: 250px;
    padding: 0px !important;

    .diagonal-border {
        border-left: 1px solid #616a82;
        height: 120%;
        transform: rotate(30deg);

    }

    .category-title {
        margin: 0px !important;
        font-size: 12px;

    }
}

.category-select {
    overflow: auto;
    justify-content: unset !important;
}


//v-tooltip

.tooltip {

    display: block !important;
    z-index: 10000;
    background-color: transparent !important;

    button {
        border-radius: 0px !important;
    }

    button:focus {
        box-shadow: none !important;
        border-radius: 0px !important;
    }


    button:hover {
        border-radius: 0px !important;
    }

    .tooltip-inner {
        background: black;
        color: #6c757d;
        border-radius: 16px;
        padding: 0px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover,
    &.customPopover,
    &.customPopover-2 {
        $color: #6c757d;

        .popover-inner {
            background: $color;
            color: black;
            border-radius: 7px;
            box-shadow: 0 5px 30px rgba(black, .1);
            overflow: hidden;

        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.customPopover {
    top: -60px !important;
}

.customPopover-2 {
    top: -143px !important;
}

.v-popover {
    >div {
        width: 100% !important
    }
}

//scroll
.custom-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60px !important;


}

//community list

//post edit
.post-edit-modal {
    .modal-body {
        padding: 0px;
    }

    .modal-content {
        background-color: #fff0;
    }

}

//icon
.game-console-icon {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
}

//delete modal
.modal-container {
    .button-container {
        display: flex;
        justify-content: space-around;
    }

    .half {
        display: flex;
        width: 47% !important;
        justify-content: center;
    }
}


//알람
.notification-box{
    text-align: left;
}

//dm
.chat-widget-message{
    .user-status{
        text-align: left;
    }
}
.chat-widget-speaker-message{
    text-align: left;
}


// toast
.toasted:first-child{
    margin-top:80px !important;
    
}

.toast-success{
    
    border-radius: 0px !important;    
    color: #a975ff !important;
    border-color: #a975ff !important;
    // background-color: rgba(255, 255, 255, 0.568) !important;
}
// .toast-success:first-child{
//     margin-top:80px !important;
// }

.toast-error{
    border-radius: 0px !important;    
    color: #fd4350 !important;
    border-color: #fd4350 !important;
    
}



.orgin-img-modal{
    .modal-dialog{
        // height: 100vh;
        // position: fixed;
        // max-width: 100% !important;
        // left: 25%;
    }
  
}