
.modal-container {
    > div {
        display: block;
        height: 100vh;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .modal-content {
        background-color: #1d2333;
        border-radius: 12px;
        // height: 500px;
    }

    .modal-header > button {
        text-align: right;
        color: #fff;
        text-shadow: none;
        width: auto;
    }
    
}

.enlarged-img-modal {
    .modal-footer {
        display: none;
        // background-color: red;
    }
}